yarn-error.log
yarn.lock

coverage/
**/types.ts
**/errors.ts
**/*.test.ts
tsconfig.json
test/

img/
makefile
src
eslint.config.js
jest.config.js
makefile
tsconfig.build.json
pnpm-lock.yaml
.editorconfig
.tool-versions
.github